server {
	listen 8080;
	autoindex on;
	host 0.0.0.0;
	root ./resources/;
	client_max_body_size 70M;
	
	allowedMethods GET;
	location_ends py {
		cgi_path /usr/bin/python3;
	}

	location / {
		autoindex on;
		allowedMethods GET|POST;
		index index.html;
	}

    location /test/ {
        root ./resources/directory/;
		autoindex on;
		allowedMethods GET|POST;
    }

    location /nyan/ {
        allowedMethods GET;
        redirect youtu.be/2yJgwwDcgV8?si=0IZWulbU1EAyTH76;
    }
}

