server {
	listen 8080;
	autoindex on;
	host 0.0.0.0;
	root ./resources/;
	client_max_body_size 70M;
	
	allowedMethods GET;
	location_ends py {
		cgi_path /usr/bin/python3;
	}

	location / {
		autoindex on;
		allowedMethods GET|POST;
		index index.html;
	}

    location /test {
        redirect /
    }

    location /nyan/ {
        allowedMethods GET;
        redirect https://www.youtube.com/watch?v=jIQ6UV2onyI;
    }
}

server {
	listen 8081;
	host 127.0.0.1;
    root ./resources/;

	allowedMethods GET|POST;
	client_max_body_size 70M;

	error_page 404 resources/miaou.png;

	location / {
		autoindex on;
		allowedMethods GET;
		index index.html;
	}
}
