server {
	listen 8080;
	autoindex on;
	host 0.0.0.0;
	root ./resources/html/;
	client_max_body_size 70M;
	allowedMethods GET;

    error_page 404 ./resources/html/404.html;

	location_ends py {
		cgi_path /usr/bin/python3;
	}
	location_ends php {
		cgi_path /usr/bin/php-cgi;
	}

	location / {
		autoindex on;
		allowedMethods GET|POST;
		index index.html;
	}

	location /upload/ {
		autoindex on;
		allowedMethods GET|POST|DELETE;
	}
}
